@font-face {
    font-family: 'atharv-font';
    src: url('../../assets/fonts/icons/atharv-font.eot');
    src: url('../../assets/fonts/icons/atharv-font.eot?#iefix') format('eot'),
        url('../../assets/fonts/icons/atharv-font.woff') format('woff'),
        url('../../assets/fonts/icons/atharv-font.ttf') format('truetype'),
        url('../../assets/fonts/icons/atharv-font.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: atharv-font !important;
    /*speak: never;*/
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-airport:before {
    content: '\61';
}

.icon-bicycle:before {
    content: '\62';
}

.icon-dog-park:before {
    content: '\63';
}

.icon-ferry:before {
    content: '\64';
}

.icon-goo:before {
    content: '\65';
}

.icon-moo:before {
    content: '\66';
}

.icon-park:before {
    content: '\67';
}

.icon-restaurant:before {
    content: '\68';
}

.icon-rocket:before {
    content: '\69';
}

.icon-toilets:before {
    content: '\6a';
}

.icon-zoo:before {
    content: '\6b';
}